{% extends 'foundation_base.html.twig' %}
{% block body %}
    <div class="large-9 columns borders-all">
        <ul class="breadcrumbs">
            <li><a href="/">home</a></li>
            <li><a href="{{ path('lab51_challenge_homepage') }}">my challenges</a></li>
            <li class="current">results</li>
        </ul>
        <h3>Results for challenge: {{ challenge.challengeName }}</h3>
        <p>{{ challenge.challengeDescription }}</p>
        <p>
            {% if auth==1 %}
            options:
            <a href="{{ path('lab51_challenge_delete', {'challenge_id': challenge.id}) }}">delete</a> |
            <a href="{{ path('lab51_challenge_edit', {'challenge_id': challenge.id}) }}">edit</a>
            {% endif %}
        </p>
        <p><a href="{{ path('lab51_ladder_index', {'challenge_id': challenge.id}) }}">show full ladder</a></p>
        <div class="section-container tabs" data-section>
            <section class="section">
                <div class="content" data-slug="panel1">
                    <table>
                        <thead>
                        <tr>
                            <th width="200">result</th>
                            <th width="200">date</th>
                            <th width="200">options</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for res in results %}
                            <tr>
                                <td>{{ res.result }}</td>
                                <td>{{ res.date.date|date("m/d/Y") }}</td>
                                <td><a href="{{ path('lab51_result_delete', {'result_id': res.id}) }}">delete</a> |
                                <a href="{{ path('lab51_result_edit', {'result_id': res.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            No results found
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ path('lab51_result_create', {'challenge_id': challenge.id}) }}">add new result</a>


                </div>
            </section>

        </div>
    </div>


{% endblock %}



