{% extends 'foundation_base.html.twig' %}
{% block body %}
    <div class="large-9 columns borders-all">
        <ul class="breadcrumbs">
            <li><a href="/">home</a></li>
            <li><a href="{{ path('lab51_challenge_homepage') }}">my challenges</a></li>
            <li class="current"><a href="#">edit challenge</a></li>
        </ul>
        <h3>Edit challenge</h3>
        <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.</p>
        <div class="section-container tabs" data-section>
            <section class="section">
                <div class="content" data-slug="panel1">

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="row collapse">
                        <div class="large-2 columns">
                            <label class="inline"> Challenge name</label>
                        </div>
                        <div class="large-10 columns">
                            {{ form_widget(form.challenge_name) }}
                        </div>
                    </div>

                    <div class="row collapse">
                        <div class="large-2 columns">
                            <label class="inline"> Challenge description</label>
                        </div>
                        <div class="large-10 columns">
                            {{ form_widget(form.challenge_description) }}
                        </div>
                    </div>
                    {{ form_widget(form.save) }}
                    {{ form_end(form) }}
                </div>
            </section>

        </div>
    </div>



{% endblock %}

